# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test
*.out
*.a
*.o
*.h

# Output of the Go coverage tool
*.cover
coverage.out

# Temporary files
*.tmp
*.swp

# Vendor directory
vendor/

# IDE-specific files
.idea/
.vscode/

# Logs
*.log

# Dependency files
go.sum

# Compiled binaries (project-specific)
push-swap
checker
